{
  "openapi": "3.1.0",
  "info": {
    "title": "Turret API",
    "description": "A product analytics API that semantically clusters free text metadata from user events to detect patterns",
    "version": "1.0.0",
    "contact": {
      "name": "Turret Support",
      "email": "support@useturret.com"
    }
  },
  "servers": [
    {
      "url": "https://api.useturret.com",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/track": {
      "post": {
        "summary": "Track an event",
        "description": "Track a user event with metadata for semantic analysis and clustering",
        "operationId": "trackEvent",
        "requestBody": {
          "description": "Event data to track",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrackEventRequest"
              },
              "examples": {
                "userPrompt": {
                  "summary": "User submitted a prompt",
                  "value": {
                    "name": "User submitted prompt",
                    "metadata": {
                      "prompt": "What's the weather like in San Francisco?"
                    }
                  }
                },
                "userFeedback": {
                  "summary": "User provided feedback",
                  "value": {
                    "name": "User provided feedback",
                    "metadata": {
                      "feedback": "The response was helpful but could be more specific",
                      "rating": 4,
                      "original_prompt": "How do I optimize my database queries?"
                    }
                  }
                },
                "featureUsage": {
                  "summary": "Feature usage tracking",
                  "value": {
                    "name": "Feature used",
                    "metadata": {
                      "feature_name": "advanced_search",
                      "user_query": "find all documents about machine learning",
                      "search_context": "research_project"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event successfully tracked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackEventResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request format or missing required fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "TrackEventRequest": {
        "type": "object",
        "required": ["name", "metadata"],
        "properties": {
          "name": {
            "type": "string",
            "description": "A descriptive name for the event",
            "example": "User submitted prompt",
            "minLength": 1,
            "maxLength": 255
          },
          "metadata": {
            "type": "object",
            "description": "An object containing free-form text data to be analyzed",
            "additionalProperties": true,
            "example": {
              "prompt": "What's the weather like in San Francisco?"
            }
          }
        }
      },
      "TrackEventResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indicates if the event was successfully tracked",
            "example": true
          },
          "message": {
            "type": "string",
            "description": "Human-readable message about the result",
            "example": "Event tracked successfully"
          },
          "event_id": {
            "type": "string",
            "description": "Unique identifier for the tracked event",
            "example": "evt_1234567890abcdef"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Always false for error responses",
            "example": false
          },
          "error": {
            "type": "string",
            "description": "Human-readable error message",
            "example": "Invalid API key"
          },
          "code": {
            "type": "string",
            "description": "Machine-readable error code",
            "example": "INVALID_API_KEY"
          }
        }
      },
      "RateLimitErrorResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ErrorResponse"
          },
          {
            "type": "object",
            "properties": {
              "retry_after": {
                "type": "integer",
                "description": "Number of seconds to wait before retrying",
                "example": 3600
              }
            }
          }
        ]
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Key",
        "description": "Your project API key from the Turret dashboard"
      }
    }
  }
}